{{!
  This file is part of Moodle - http://moodle.org/

  @package block_zendesk_dashboard
  @copyright 2026 David Ta <david.ta@saylor.org>
  @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
}}

<div class="block-zendesk-dashboard">
    <div class="block-zendesk-dashboard__panel">
        <div class="block-zendesk-dashboard__intro">
            <p class="block-zendesk-dashboard__summary">{{dashboardintro}}</p>
        </div>

        <div class="block-zendesk-dashboard__actions">
            <a class="block-zendesk-dashboard__action block-zendesk-dashboard__action--primary" href="{{newrequesturl}}">
                <span class="block-zendesk-dashboard__action-icon" aria-hidden="true">
                    <svg viewBox="0 0 24 24" focusable="false">
                        <path d="M12 5v14M5 12h14" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    </svg>
                </span>
                <span>{{newrequestlabel}}</span>
            </a>
            {{#hashelpcenterlink}}
            <a class="block-zendesk-dashboard__action block-zendesk-dashboard__action--secondary" href="{{helpcenterurl}}">
                <span class="block-zendesk-dashboard__action-icon" aria-hidden="true">
                    <svg viewBox="0 0 24 24" focusable="false">
                        <circle cx="12" cy="12" r="8" fill="none" stroke="currentColor" stroke-width="2"/>
                        <path d="M12 4v4M12 16v4M4 12h4M16 12h4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2"/>
                    </svg>
                </span>
                <span>{{helpcenterlabel}}</span>
            </a>
            {{/hashelpcenterlink}}
        </div>

        <div class="block-zendesk-dashboard__section-head">
            <div class="block-zendesk-dashboard__section-title">{{recentrequestslabel}}</div>
            <a class="block-zendesk-dashboard__all-link" href="{{allrequestsurl}}">{{allrequestslabel}}</a>
        </div>

        {{#hasrequests}}
        <div class="block-zendesk-dashboard__list">
            {{#requests}}
            <article class="block-zendesk-dashboard__ticket">
                <div class="block-zendesk-dashboard__ticket-head">
                    <a class="block-zendesk-dashboard__ticket-title" href="{{viewurl}}">{{subject}}</a>
                    <span class="{{statuspillclass}}">{{statuslabel}}</span>
                </div>
                {{#hascourse}}
                <div class="block-zendesk-dashboard__ticket-context">{{coursefullname}}</div>
                {{/hascourse}}
                <div class="block-zendesk-dashboard__ticket-meta">{{timemodifiedhuman}}</div>
            </article>
            {{/requests}}
        </div>
        {{/hasrequests}}

        {{^hasrequests}}
        <div class="block-zendesk-dashboard__empty">{{emptylabel}}</div>
        {{/hasrequests}}
    </div>
</div>
